@import url('https://fonts.googleapis.com/css2?family=Anta&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #133175;
    font-family: "Anta";
    align-items: center;
}

h1 {
    color: white;
    margin: 40px;
    text-align: center;
    font-size: 70px;
    background-color: #3867d1;
    margin: 0;
    padding: 15px;
}

h2 {
    text-align: center;
    color: white;
    margin: 40px;
    font-size: 50px;
}

nav {
    text-align: center;
    color: white;
    font-size: 30px;
    background-color: #416dd1;
    padding: 10px;
    align-items: center;
}

nav a {
    color: white;
    text-decoration: none;
    display: inline-block;
    padding: 0 10 25;
    margin-left: 10px;
}

nav a:hover {
    background-color: black;
}

.caixa {
    box-sizing: border-box;
    box-shadow: 15px 15px 15px gray;
    background-color: black;
    width: 500px;
    height: 250px;
    position: relative;
    left: 560px;
    padding: 45px;
    border-radius: 25px;
}

.email {
    width: 270px;
    height: 40px;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.senha {
    width: 270px;
    height: 40px;
    padding: 10px;
    border-radius: 5px;
}

.botao {
    width: 70px;
    height: 30px;
}

.botao:hover {
    background-color: gray;
    color: white;
    cursor: pointer;
}

